.pagination .page-link {
  color: #0d6efd;
}
.pagination .active .page-link {
  background-color: #0d6efd;
  color: #fff;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table {
  min-width: 500px;
}

.search-input {
  width: 100%;
  max-width: 200px;
}
