<nav
  class="navbar navbar-dark bg-primary px-3 d-flex justify-content-between align-items-center fixed-top"
>
  <div class="d-flex align-items-center">
    <span
      *ngIf="role !== 'USER'"
      class="d-md-none me-2 text-white cursor-pointer"
      (click)="onToggleSidebar()"
    >
      <i class="bi bi-list"></i>
    </span>
    <span class="navbar-brand mb-0 h1">{{ title }}</span>
  </div>
  <div class="position-relative">
    <div class="d-flex align-items-center text-white cursor-pointer" (click)="toggleMenu()">
      <i class="bi bi-person-circle fs-4 me-2"></i>
      <span>{{ username }}</span>
    </div>
    <div *ngIf="menuOpen" class="popup-menu">
      <button class="dropdown-item" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>
