::ng-deep .success-snackbar {
  background-color: #4caf50 !important;
  color: #fff !important;
}
::ng-deep .error-snackbar {
  background-color: #f44336 !important;
  color: #fff !important;
}

.form-check-input:checked {
  background-color: #1976d2;
  border-color: #1976d2;
}
.form-check-label {
  font-weight: 500;
}
