.container{
    padding: 20px;;
}

.balance-box{
    margin-top: 20px;
    padding: 15px;
    background: #e3f2fd;
    border-radius: 8px;

}
table{
    width: 100%;
    margin-top: 20px;
}

::ng-deep .error-snackbar {
  background-color: #dc3545 !important;
  color: #fff !important;
  text-align: center;
  justify-content: center;
}

::ng-deep .success-snackbar {
  background-color: #28a745 !important;
  color: #fff !important;
  text-align: center;
  justify-content: center;
}
