<h2 mat-dialog-title class="fw-bold">{{ data.title }}</h2>
<div mat-dialog-content>
  <ng-container *ngIf="data.contentTemplate">
    <ng-container *ngTemplateOutlet="data.contentTemplate; context: data.templateContext">
    </ng-container>
  </ng-container>
</div>
<div mat-dialog-actions align="end" class="flex gap-2">
  <button
    (click)="onCancel()"
    class="btn btn-light btn-sm fixed-btn"
    [disabled]="data.isSubmitting"
  >
    {{ data.cancelText || 'Cancel' }}
  </button>

  <button
    class="btn btn-primary btn-sm fixed-btn"
    [disabled]="!data.isFormValid() || data.isSubmitting"
    (click)="onConfirm()"
  >
    <span *ngIf="!data.isSubmitting">{{ data.confirmText || 'OK' }}</span>
    <app-spinner *ngIf="data.isSubmitting" [size]="20" color="white"></app-spinner>
  </button>
</div>
